.italic{
    font-style: italic;
}
.activity{
    width: 60%;
}

.single-activity{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.logo{
    width: 10%;
}

@media only screen and (max-width: 768px){
    .activity{
        width: 100%;
    }
    .single-activity{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}